# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/
*.cover
*.mo
*.pot

# Logs and databases
*.log
*.sqlite3

# IDEs / Editors
.vscode/
.idea/
*.swp
*.swo
